<header>
    <section class="nav-section">
        <div class="nav-container">
            <div class="logo-name">
                <a href="/">AuctionOasis</a>
            </div>
            <div class="search-bar">
                <input type="text" name="search" id="search-input" paceholder="search hear">
                <div id="search-suggestions">
                    
                </div>
            </div>

            <div class="nav-links-container">
                <ul class="nav-links">
                    <li><a href="#">Live Auction</a></li>
                    <li id="list-item">
                        <a href="#"><span><i class="fa-solid fa-plus"></i></span> List Item</a>
                    </li>
                
                    <!-- Notification & Profile Icons initially visible -->
                    <li id="notification-icon" style="display: block;">
                        <a href="#"><i class="fa-solid fa-bell"></i></a>
                    </li>
                    <li id="profile-icon" style="display: block;">
                        <div class="profile-icon-wrapper">
                            <!-- Profile Button -->
                            <a href="#" id="profile-btn"><i class="fa-regular fa-user"></i></a>
                
                            <!-- Profile dropdown menu -->
                            <div class="profile-dropdown" id="profile-dropdown">
                                <ul>
                                    <li id="username">yash_021</li>
                                    <li><a href="/"></a><i class="fa-regular fa-user"></i>Profile</li>
                                    <li><a href="/"><i class="fa-solid fa-box"></i>My Items</a></li>
                                    <li><a href="/"><i class="fa-solid fa-wallet"></i>Wallet</a></li>
                                    <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                
                    <!-- Sign Up Button initially hidden -->
                    <li style='display: none;' id="sign-up-btn">
                        <a href="#">Sign Up</a>
                    </li>
                </ul>
                

            </div>

        </div>
    </section>
</header>