<header>
    <section class="nav-section">
        <div class="nav-container">
            <div class="logo-name">
                <a href="#home">AuctionOasis</a>
            </div>
            <div class="search-bar">
                <input type="text" name="search" id="" paceholder="search hear">
            </div>

            <div class="nav-links-container">
                <ul class="nav-links">
                    <li><a href="#">Live Auction</a></li>
                    <li><a href="#">DashBoard</a></li>
                    <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                    <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                </ul>

            </div>

        </div>
    </section>
</header>