/*:root{
     /* Light Theme Colors */
  /* --primary-color: #646cff;
  --secondary-color: #535bf2;
  --text-color: #213547;
  --footer-color: #213547;
  --bg-color: #ffffff;
  --bg-color-rgb: 255, 255, 255;
  --card-bg: #f8f9fa;
  --section-bg: #ffffff;
  --input-border: #ddd;
  --input-bg: #ffffff; */

  /* Transitions */
  /* --transition: all 0.3s ease;

  --primary-btn-color: #646cff;
  --secndary-btn-color:#cbcdf7;
  --primary-btn-font-color: #fff;
  --secondary-btn-font-color: #000; */

  /* Font */
    /* --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem; */
/*} */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap'); */


/* Root Variables */
:root {
    /* Light Theme Colors */
    --primary-color: #646cff;
    --secondary-color: #535bf2;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f8f9fa;
    --text-color: #213547;
    --footer-color: #213547;
    --input-border-color: #ddd;
    --card-bg: #f8f9fa;
  
    /* Button Colors */
    --primary-btn-color: #646cff;
    --secondary-btn-color: #cbcdf7;
    --primary-btn-font-color: #fff;
    --secondary-btn-font-color: #000;
  
    /* Font */
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --body-font-size: 1rem;
    --font-family: 'Arial', sans-serif;
    --line-height: 1.5; /* Improved line-height for better text readability */
  
    /* Spacing */
    --section-padding: 1rem 8%;
    --card-padding: 1rem;
    --btn-padding: 1rem 2rem;
  
    /* Borders and Shadows */
    --border-radius: 5px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --card-shadow: 2px 2px 10px rgba(0, 0, 0, 0.232);
  
    /* Transitions */
    --transition: all 0.3s ease;
  
    /* Navbar */
    --navbar-height: 70px;
    --navbar-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }