
:root {
    /* Light Theme Colors */
    --primary-color: #646cff;
    --secondary-color: #535bf2;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f8f9fa;
    --text-color: #213547;
    --footer-color: #213547;
    --input-border-color: #9b9999;
    --card-bg: #f8f9fa;
  
    /* Button Colors */
    --primary-btn-color: #646cff;
    --secondary-btn-color: #cbcdf7;
    --primary-btn-font-color: #fff;
    --secondary-btn-font-color: #000;
  
    /* Font */
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.3rem;
    --body-font-size: 1rem;
    --font-family: 'Arial', sans-serif;
    --line-height: 1.5; /* Improved line-height for better text readability */
  
    /* Spacing */
    --section-padding: 1rem 8%;
    --card-padding: 1rem;
    --btn-padding: 1rem 2rem;
  
    /* Borders and Shadows */
    --border-radius: 5px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --card-shadow: 2px 2px 10px rgba(0, 0, 0, 0.232);
  
    /* Transitions */
    --transition: all 0.3s ease;
  
    /* Navbar */
    --navbar-height: 60px;
    --navbar-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }